body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: rgb(189, 225, 248);
}

#main-content {
    width: 980px;
    margin: 0 auto;
    background: whitesmoke;
}

#nav-bar {
    background: rgb(234, 52, 88);
    padding: 10px;
}

#nav-bar ul {
    text-align: right;
    list-style-type: none;
}

#nav-bar li {
    display: inline-block;
    margin-left: 20px;
}

#nav-bar a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 6px;
}

#nav-bar a.current {
    background: rgb(248, 218, 173);
    border-radius: 4px;
}

#image img{
    width: 100%;
}

#shop {
    margin: 30px 0;
    text-align: center;
}

#shop h2.product-name {
    font-size: 18px;
    margin-bottom: 0%;
}

#shop span.price {
    display: block;
    font-size: 58px;
    font-family: cursive;
}

#shop a.cart {
    display: block;
    color: rgb(125, 72, 8);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 0;
    border: 2px solid rgb(220, 142, 208);
    width: 250px;
    margin: 20px auto;
}

#shop a.cart:hover {
    color: #fff;
    background: rgb(158, 71, 36);
}

#foot img{
    width: 100%;
}
